body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f4f4f4;
}


main {
    max-width: 800px;
    margin: auto;
}


canvas,
video {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
}


button {
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    margin-top: 10px;
}